{{> head }}
{{> navbar }}

<div class="container mt-4">

    <div class="col-sm-12">
        <h1>Asado 1.0</h1>
        <p class="lead" >
            La primera versión del asado en casa del amigo Wilfredo... y vienen más
        </p>
    </div>

    
    <div class="col-sm-12">
        <img src="assets/img/asado.jpeg" class="img-thumbnail">
    </div>
    <hr class="my-4">

        <div class="col-sm-12">
            <img src="assets/img/asado1.jpeg" class="img-thumbnail">
        </div>


</div>

  



{{> footer }}