{{> head }}



    {{> navbar }}



    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre }}!</h1>
       
        <p class="lead">El sitio web Oficial de los pelones, Tocoa Colón.</p>
        <hr class="my-4">
        <img src="assets/img/casco.jpeg" width="240" class="img-thumbnail">
        <p class="lead"><strong>Estamos en CONSTRUCCIÓN...</strong>  pronto tendremos fotos, las perras de Tulio, imagenes, videos, sección de comentarios... </p>
        <p class="lead">y mucho contenido de interés para que te cagues de la risa</p>
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="#" role="button">Ver Más</a>
        </p>
    </div>



{{> footer }}